.dialog-workspace {
        align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    
    pointer-events: none;
    z-index: 2;

}

.dialog {
    
    pointer-events: all;
}
.dialog-content {
    padding: 20px;
    border-radius: 4px;
    background-color: black;
}

.dialog-content h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
    padding-top: 0;
    font-size: 12pt;
}

.dialog-actions {
    margin: -20px;
    text-align: right;
    padding: 30px 10px 10px 10px;
}

.toolbar {
    height: 28px;
    border-left-width: 8px;
    border-right-width: 8px;
    margin: 0 28px 10px 28px;
    position: relative;

}
.toolbar:before {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    border-right: 4px solid black;
    display: block;
    top: 0;
    left: -32px;
}
.toolbar:after {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-left: 4px solid black;
    display: block;
    top: 0;
    right: -32px;
}
.toolbar button {
   border-radius: 0; 
   position: relative;
   box-shadow: none;
   height: 28px;
}
.toolbar button:before {
    content: '';
    display: block;
    width: 4px;
    position: absolute;
    top: 0px;
    left: -4px;
    height: 28px;
    background-color: black;
}
.toolbar button.last {
    border-right: 4px solid black;
}
.dialog {
    position: relative;

}
.dialog:before {
    position: absolute;
    content: "";
    top: -30px;
    bottom: 0;
    left: -10px;
    right: 0;
    z-index: -1;
    border-top-left-radius: 30px 30px;
}
.dialog-content {
    border-radius: 0;
    border-top-left-radius: 30px;
    
}
.dialog h2 {
    position: absolute;
    top: -25px;
    text-align: right;
    left: 10px;
    right: 10px;
}
.dialog h2:after {
    position: absolute;
    content: "";
    right: -30px;
    top: -4px;
    height: 30px;
    width: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.pull-right {
    float: right;
}
